{% extends "./base.njk" %}

{% block style %}
  {# <link rel="stylesheet" href="{{ helper.hybrid('umi.css') }}"> #}
{% endblock %}

{% block main %}
  <div id="app"></div>
{% endblock %}

{% block script %}
  {# <script type="text/javascript" src="{{ helper.hybrid('umi.js') }}"></script> #}
{% endblock %}
